.App {
  text-align: center;
}
body{
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}
*{
  font-family: 'Nunito Sans', sans-serif !important;
  list-style-type: none !important;
  text-decoration: none !important;
}

button{
  font-weight: 600 !important;
}
.transparent{
  background: transparent !important;
}

.side_bar{
  color: ghostwhite;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  background: #086d8d;
  transition: 1s linear;
  z-index: 300;
  

}
.side_bar::-webkit-scrollbar{
  width: 0;
}
.side_bar .nav-link{
  color: ghostwhite;
}
.page{
  margin:0 !important;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: ghostwhite !important;
}
.mainContent{
  background-color: white !important;
  border-radius: 20px !important;
  margin-top: 3rem;
  padding: 2rem;
  box-shadow: 0px 0px 2px rgba(98, 161, 255, 0.164);
  text-align: initial !important;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto !important;
}

#back_drop{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 1s linear;
  background: rgba(0, 0, 0, 0.8);
}
.back_drop{
  width: 100%;
  height: 100vh;  
  pointer-events: none;
}

.hide{
  display: none;
}
.show{
  display: block;
}


/* RESPONSIVENESS ...................................... */
@media only screen and (max-width: 999px){
  #root{
    width: 100%
  }
}