.userProfile{
    border: 2px solid rgb(226, 226, 226, .5);
    padding: 0.3rem;
    margin-left: 1.2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgba(170, 197, 255, 0.438);
    cursor: pointer;
}
.userProfile .profile_brief{
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-evenly;
}
.profile_brief t{
    color: red;
}